
* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
}


/*--------- Conditional Background image -------*/

.day-image {
    background-image: url(../images/day.jpg);
}

.night-image {
    background-image: url(../images/night.jpg);
}


header {
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}




/*--------- Logo -------*/


.logo img {
    float: left;
    height: auto;
}

div .logo {
    display: inline-flex;
}

@media screen and (max-width: 991px) {
    .logo img {
        width: 230px !important;
    }


    /*--------- Navigation -------*/


    .navbar {
        max-width: 100% !important;
        margin: auto;
    }


    /*nav .container {
        max-width: 100% !important;
    }*/


    .navbar-nav {
        float: right;
        list-style-type: none;
        margin-top: 7px;
    }

        .navbar-nav li.nav-item {
            display: inline-block;
            margin: 2px;
        }

        .navbar-nav .nav-item a {
            text-decoration: none;
            color: #fff;
            padding: 5px 50px;
            /* border: 1px solid #fff;*/
            transition: 0.7s ease;
        }

            .navbar-nav .nav-item a:hover {
                background-color: #fff;
                color: #000 !important;
            }

        .navbar-nav .nav-item.active a {
            background-color: #fff;
            color: #000 !important;
        }

    .navbar-dark .navbar-nav .nav-link {
        color: #f8f9fa;
    }

    @media screen and (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 1.0rem;
            padding-left: 1.0rem;
        }
    }

    /* .navbar .container {
        z-index: 1;
    }*/

    .navbar-nav {
        float: right;
        list-style-type: none;
        margin-top: 0px;
    }

        /* .navbar-nav {
        width: 100% !important;
    }*/

        .navbar-nav .nav-item a {
            text-decoration: none;
            color: #fff;
            padding: 5px 5px;
            /* border: 1px solid #fff;*/
            transition: 0.7s ease;
            /*background-color: #00A7DC;*/
            display: flex
        }

            .navbar-nav .nav-item a:hover {
                background-color: #fff;
                color: #000 !important;
            }

        .navbar-nav .nav-item.active a {
            background-color: #fff;
            color: #000 !important;
            border: 1px solid #00A7DC;
        }
}

nav .container {
    max-width: 100% !important;
}



/*--------- Searchbar-------*/




.search {
    margin: 0 auto;
    width: 350px;
}

.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

    .search-button img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }


#country-error {
    padding-left: 20px;
    color: #E1484C;
}

.content {
    position: absolute;
    top: 33%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}

    .content h1 {
        color: #fff;
        font-size: 39px;
        padding-bottom: 20px;
        text-align: center
    }


/*--------- Footer-------*/
footer {
    text-align: center;
    bottom: 0;
}
