@model RegisterModel
      

<link href="~/css/forms.css" rel="stylesheet" />

<div class="content form_inner">
    <div class="container">
        <div class="card form_bg">
            <div class="card_title">
                <h1 style="color:whitesmoke;">Create Account</h1>
                <p><span class="redirect">Already have an account? <a href="Login">Sign In</a></span><p>
            </div>
            <div class="form">

                <!----METHOD TO CREATE AND RENDER FORM IN HTML--------------->
                @using (Html.BeginForm("InsertUserToDatabase", "User", "Post"))
                {

                    <input type="text" name="FirstName" id="FName" placeholder="First Name" required />
                    <input type="text" name="LastName" id="LName" placeholder="Last Name" required />
                    <input type="email" name="Email" placeholder="Email" id="email" required />
                    <input type="password" name="Password" placeholder="Password" id="password" required />
                    <input type="password" name="ConfirmPassword" placeholder="Confirm Password" id="confirmpassword" required />
                    <input type="submit" style="background-color:dodgerblue;color:white;" value="Sign Up" />


                    @if (ViewBag.Message != null)
                    {
                        <p style="color: green; font-size:medium;font-weight:bold">Account created successfully</p>
                    }
                }

            </div>
        </div>
    </div>
</div>


