
<link href="~/css/forms.css" rel="stylesheet" />

<!----------- View ContactUs ------------>

<div class="content form_inner">
    <div class="container">
        <div class="card form_bg">
            <div class="card_title">
                <h1 style="color:whitesmoke;">Contact Us</h1>
            </div>
            <div class="form">
                <form>
                    <input type="text" name="FullName" id="FName" placeholder="Full Name" required />
                    <input type="email" name="Email" placeholder="Email" id="email" required />
                    <input name="Feedback" placeholder="Feedback" id="Feedback" required="" style="height: 85px;">
                    <input type="submit" style="background-color:dodgerblue;color:white;" value="Submit" />
                    @*<p style="color: green; font-size:medium;font-weight:bold">You feedback sent successfully!</p>*@
                </form>
            </div>
        </div>
    </div>
</div>

