@model ContactUsModel


<link href="~/css/forms.css" rel="stylesheet" />

<!------------------------ContactUs--------------->

<div class="content form_inner">
    <div class="container">
        <div class="card form_bg">
            <div class="card_title">
                <h1 style="color:whitesmoke;">Contact Us</h1>
            </div>
            <div class="form">

                @using (Html.BeginForm("InsertContactUsToDatabase", "ContactUs", "Post"))
                {

                    <input type="text" name="FullName" id="FName" asp-for="FullName" placeholder="Full Name" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                    <input type="text" name="Email" placeholder="Email" id="email" asp-for="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                    <input name="Feedback" placeholder="Feedback" id="Feedback" asp-for="Feedback" style="height: 95px;">
                    <span asp-validation-for="Feedback" class="text-danger"></span>

                    <input type="submit" style="background-color:dodgerblue;color:white;" value="Submit" />

                    //Data succesfully stored in database
                    @if (ViewBag.Message == "Success")
                    {
                        <p style="color: green; font-size:medium;font-weight:bold">You feedback sent successfully!</p>
                    }


                    //Data failed to store in database
                    @if (ViewBag.Message == "Error")
                    {
                        <p style="color: red; font-size:medium;font-weight:bold">Feedback not sent, please try again.</p>
                    }
                }

            </div>
        </div>
    </div>
</div>
